<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
</head>
<body>
    <h1>Manage your Book Records</h1>
    <h3>
        <ul>
            <li>To view existing / your added records ,<a href="http://127.0.0.1:8000/showbooks"> click here!</a></li>
            <li>To add a new record, <a href="http://127.0.0.1:8000/addbooks"> click here!</a> </li>
        </ul>
    </h3>   
</body>
</html>