<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add books to DB</title>
</head>
<body>
    <form action="/addbookstodb/" method="GET">
<h2>Add books of your choice from here! ;-)</h2>
Book id : <input type="text" name='bookid'><br>
Book name : <input type="text" name='bookname'><br>
Book subject : <input type="text" name='booksubject'><br>
Book price : <input type="text" name='bookprice'><br>
Publish Date[YYY-MM-DD] : <input type="text" name='Publishdate'><br>
<input type="submit" value='Add record to DB'>
</form>
    
</body>
</html>