<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %} Home {% endblock%}
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <nav>
<a href="#">Home</a>
<a href="#">Course</a>
<a href="#">Contact</a> 
<a href="#">Career</a>   
    </nav>

{%block content%}
{%endblock%}

<hr>

{%block footer%}
&copy;2019.All rights reserved
{%endblock%}

</body>
</html>