<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create records</title>
</head>
<body>
    <form action="/create_it_form/" method="GET">
    Employee id = <input type="text" name="e_id"> <br>
    Employee name = <input type="text" name="e_name"><br>
    Employee email = <input type="text" name="e_mail"><br>
    Employee salary = <input type="text" name="e_sal"><br>
    <input type="submit" value="Create record">

    
    </form>
</body>
</html>