<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HOME</title>
</head>
<body>
    <h1>Welcome to CRUD Project !</h1>
    <h2>Things you can do here :- </h2>
    <ol>
        <li><a href="http://127.0.0.1:8000/display"> Display records</a> </li>
        <li> <a href="http://127.0.0.1:8000/create"> Create (Insert) employee record</a> </li>
        <li><a href="http://127.0.0.1:8000/update"> Update record</a></li>
        <li>Delete record
            <ul>
                <li><a href="http://127.0.0.1:8000/deleteall"> Delete all records</a></li>
                <li><a href="http://127.0.0.1:8000/deleteone"> Delete a perticular record</a></li>
            </ul>
        </li>
    </ol>
</body>
</html>